* {
    padding: 0px;
    margin: 0px;
}

main {
    background-color: blue;
    width: 100vw;
    height: 100vh;

    background-image: url(imagens/fundo-madeira.jpg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    }

section#tela {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-image: url(imagens/frame-iphone.png);
    position: absolute;
    width: 310px;
    height: 630px;
}

section#redes-sociais {
    text-align: right;
}

iframe {
    display: block;
    position: absolute;
    top: 80px;
    left: 22px;

    width: 266.9px;
    height: 471px;
}

section#redes-sociais img{
    border-radius: 50%;
    display: inline-block;
    width: 80px; 
    margin: 10px 10px 2px 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.605);
    border: 0.5px solid wheat;
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 3px solid wheat;
    transform: translate(-5%, 0);
    transition-duration: 200ms;
    /* Transition */
}



