* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0%;
    height: 0px;
}

a {
    color: black;
    text-decoration: none;  
}


img {
    width: 99vw;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    font-size: 1.1em;
    text-align: center;
    padding: 25px;
}


