@charset "UTF-8";

/* Versão mobile-first */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;  /* Isso aqui é importante!!!!!!!! */
}

body {
    
    background: black url(../imagens/back-phone.jpg);
    background-size: cover;
    background-position: top center;
}

main {
    border-radius: 15px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.947);
    width: 428px;
    padding: 15px;
    /* transform: scale(85%); */
}

img {
    margin: auto;
}

#tablet { display: none }
#desktop {display: none;}
#print {display: none;}
#tv {display: none;}

