body {
    height: 873px;
    background-image: url(https://gustavoguanabara.github.io/html-css/imagens/mascote.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center bottom;
}