body {
    background-image: url(images/espaco.jpg);
}    


div#astronauta {   
    /* Para usar top, left, blabla tem que botar a pos como absolute */
    margin: auto;
    position: absolute; /* -> -> Esse metodo abaixo vai ser um metodo meio antigo, agora tem flexbox para isso. */
    top: 45%;
    left: 50%;
    transform: translate(-53%, -60%); /* The translate() CSS function repositions an element in the horizontal and/or vertical directions. */
    /* A gente esta ajustando a imagem para 50% da parte esquerda, e 50% do topo. Teoricamente era para a div ficar centralizada, mas nao está. Então a gente usa o transform para reposicionar o elemento  */
    
}

img {
    min-width: 380px;
    max-width: 485px;
    width: 95%;
    margin: auto;
    display: block;
}

article {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    min-width: 300px;
    max-width: 550px;
    border-radius: 10px 5px 10px 5px;
}