@charset "UTF-8";

body {
    background-image: linear-gradient(to left,  #cc1010, #6d0e0e);
}

main {
    margin: auto;
    width: 20cm;
    border-radius: 10px;
    padding: 10px;
    background-color: #e7e4e4;
    box-shadow: 6px 8px 12px #5a0c0cde;
}

h1, h2, h3 {
    text-align: center;
    color: #02111B;
}

h3 {
    font-size: 1em;
    text-decoration: underline;
}

p {
    text-align: center;
}

a, a:visited {
    font-weight: 700;
    color: #01912A;
}

a:hover {
    color: #017121;
}